init:
    - git config --global core.autocrlf input

environment:
  matrix:
    - nodejs_version: 10
    - nodejs_version: 9
    - nodejs_version: 8
    - nodejs_version: 7
    - nodejs_version: 6
    - nodejs_version: 5
    - nodejs_version: 4

platform:
  - x86
  - x64

install:
  - ps: Install-Product node $env:nodejs_version $env:platform
  - git submodule update --init --recursive
  - npm install

build: off

test_script:
  - node --version
  - npm --version
  - "node test/reader.js"
  - "node test/writer.js"
